<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamtools.teacherstool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".catGrupos"
            android:label="@string/title_activity_cat_grupos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.MainActivity" />
        </activity>
        <activity
            android:name=".frmGrupos"
            android:label="@string/title_activity_frm_grupos"
            android:parentActivityName=".catGrupos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.catGrupos" />
        </activity>
        <activity
            android:name=".catCriterios"
            android:label="@string/title_activity_cat_criterios"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.MainActivity" />
        </activity>
        <activity
            android:name=".frmCriterios"
            android:label="@string/title_activity_frm_criterios"
            android:parentActivityName=".catCriterios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.catCriterios" />
        </activity>
        <activity
            android:name=".catMaterias"
            android:label="@string/title_activity_cat_materias"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.MainActivity" />
        </activity>
        <activity
            android:name=".frmMaterias"
            android:label="@string/title_activity_frm_materias"
            android:parentActivityName=".catMaterias"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.catMaterias" />
        </activity>
        <activity
            android:name=".catGrupoMaterias"
            android:label="@string/title_activity_cat_grupo_materias"
            android:parentActivityName=".catGrupos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.catGrupos" />
        </activity>
        <activity
            android:name=".frmGrupoMaterias"
            android:label="@string/title_activity_frm_grupo_materias"
            android:parentActivityName=".catGrupoMaterias"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamtools.teacherstool.catGrupoMaterias" />
        </activity>
    </application>

</manifest>